In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Combined Data.csv"
happiness_data_df = pd.read_csv(csv_file)
happiness_data_df.head()

,ISO2,ISO3,INDEX,Region,Country,Score,GDP,Social_Support,Life_Exp,Freedom_Choice,Generosity,Corruption,Year
0,AF,AFG,Afghanistan_2018,Southern Asia,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
1,AF,AFG,Afghanistan_2019,Southern Asia,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
2,AL,ALB,Albania_2018,Southern Europe,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
3,AL,ALB,Albania_2019,Southern Europe,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,2019
4,DZ,DZA,Algeria_2018,Northern Africa,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018

In [14]:
engine = create_engine("sqlite:///happiness.sqlite")
happiness_data_df.to_sql(name='happiness', con=engine, if_exists='replace', index=False)