In [21]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [22]:
df = pd.read_csv('Combined Data.csv')

In [23]:
df.head()

,Region,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Southern Asia,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
1,Southern Asia,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
2,Southern Europe,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
3,Southern Europe,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,2019
4,Northern Africa,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018

In [17]:
#conn = sql.connect('Happiness.db')
#df.to_sql('Happiness', conn)

In [18]:
#https://www.fullstackpython.com/blog/export-pandas-dataframes-sqlite-sqlalchemy.html

In [24]:
engine = create_engine('sqlite:///Happiness.db', echo=True)
sqlite_connection = engine.connect()

2020-12-03 20:50:38,602 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-03 20:50:38,606 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:50:38,608 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-03 20:50:38,610 INFO sqlalchemy.engine.base.Engine ()

In [25]:
sqlite_table = "Tbl_Happiness_Test"
df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-12-03 20:51:17,729 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Tbl_Happiness_Test")
2020-12-03 20:51:17,731 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:51:17,749 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Tbl_Happiness_Test")
2020-12-03 20:51:17,756 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:51:17,765 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Tbl_Happiness_Test" (
	"index" BIGINT,
	"Region" TEXT,
	"Country or region" TEXT,
	"Score" FLOAT,
	"GDP per capita" FLOAT,
	"Social support" FLOAT,
	"Healthy life expectancy" FLOAT,
	"Freedom to make life choices" FLOAT,
	"Generosity" FLOAT,
	"Perceptions of corruption" FLOAT,
	"Year" BIGINT
)


2020-12-03 20:51:17,768 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:51:17,780 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-03 20:51:17,784 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Tbl_Happiness_Test_index" ON "Tbl_Happiness_Test" ("index")
2020-12-03 20:51:17,786 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:51:17,797 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-03 20:51:17,805 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-03 20:51:17,825 INFO sqlalchemy.engine.base.Engine INSERT INTO "Tbl_Happiness_Test" ("index", "Region", "Country or region", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom to make life choices", "Generosity", "Perceptions of corruption", "Year") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-12-03 20:51:17,836 INFO sqlalchemy.engine.base.Engine ((0, 'Southern Asia', 'Afghanistan', 3.6319999999999997, 0.332, 0.537, 0.255, 0.085, 0.191, 0.036000000000000004, 2018), (1, 'Southern Asia', 'Afghanistan', 3.2030000000000003, 0.35, 0.517, 0.361, 0.0, 0.158, 0.025, 2019), (2, 'Southern Europe', 'Albania', 4.586, 0.9159999999999999, 0.8170000000000001, 0.79, 0.419, 0.149, 0.032, 2018), (3, 'Southern Europe', 'Albania', 4.718999999999999, 0.9470000000000001, 0.848, 0.8740000000000001, 0.38299999999999995, 0.17800000000000002, 0.027000000000000003, 2019), (4, 'Northern Africa', 'Algeria', 5.295, 0.9790000000000001, 1.1540000000000001, 0.687, 0.077, 0.055, 0.135, 2018), (5, 'Northern Africa', 'Algeria', 5.211, 1.002, 1.16, 0.785, 0.086, 0.073, 0.114, 2019), (6, 'Sub-Saharan Africa', 'Angola', 3.795, 0.73, 1.125, 0.26899999999999996, 0.0, 0.079, 0.061, 2018), (7, 'Latin America and the Caribbean', 'Argentina', 6.388, 1.073, 1.4680000000000002, 0.7440000000000001, 0.57, 0.062, 0.054000000000000006, 2018)  ... displaying 10 of 308 total bound parameter sets ...  (306, 'Sub-Saharan Africa', 'Zimbabwe', 3.6919999999999997, 0.35700000000000004, 1.094, 0.248, 0.406, 0.132, 0.099, 2018), (307, 'Sub-Saharan Africa', 'Zimbabwe', 3.6630000000000003, 0.366, 1.114, 0.433, 0.361, 0.151, 0.08900000000000001, 2019))
2020-12-03 20:51:17,850 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-03 20:51:17,866 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-03 20:51:17,871 INFO sqlalchemy.engine.base.Engine ()

In [26]:
high = pd.read_sql('SELECT * FROM Tbl_Happiness_Test', sqlite_connection)
high.head()

2020-12-03 20:53:28,539 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM Tbl_Happiness_Test")
2020-12-03 20:53:28,540 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:53:28,542 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM Tbl_Happiness_Test")
2020-12-03 20:53:28,542 INFO sqlalchemy.engine.base.Engine ()
2020-12-03 20:53:28,544 INFO sqlalchemy.engine.base.Engine SELECT * FROM Tbl_Happiness_Test
2020-12-03 20:53:28,545 INFO sqlalchemy.engine.base.Engine ()

,index,Region,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,0,Southern Asia,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
1,1,Southern Asia,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
2,2,Southern Europe,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
3,3,Southern Europe,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,2019
4,4,Northern Africa,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018